.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 0.5rem;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
}

.brand {
  color: var(--color-blue-600);
  font-size: var(--text-lg);
  font-weight: var(--font-medium);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
}

.menu {
  position: relative;
}

.burger-icon,
.close-icon {
  transition: all .25s ease-in-out;

}

// We need to remove one icon from the flow for the animation to work
.burger-icon {
  position: absolute;
}

.menu__button {
  cursor: pointer;
  margin-right: 0.5rem;
  padding: 0.25rem;
  border-radius: var(--rounded);

  // Show closed icon when open
  &--open .burger-icon {
    transform: rotate(90deg) scale(0);
    opacity: 0;
  }

  // Show burger icon when closed
  &:not(&--open) .close-icon {
    transform: rotate(-90deg) scale(0);
    opacity: 0;
  }

  &:hover {
    background-color: var(--color-gray-100);
  }

  &:active {
    background-color: var(--color-gray-200);
  }
}

.menu__items {
  position: absolute;
  display: none;
  flex-direction: column;
  padding: 0.25rem;
  border-radius: var(--rounded-md);
  font-size: var(--text-sm);
  box-shadow: var(--shadow-md);
  top: 2.5rem;
  right: 0rem;
  min-width: 300px;
  background-color: white;
  border: 1px solid var(--color-neutral-200);
  z-index: 100;


  &[data-closed="true"] {
    /* keep visible while exiting */
    display: flex;
    animation: exit 0.15s forwards;
    /* prevent clicks while closing */
    pointer-events: none;
  }

  &[data-open="true"] {
    display: flex;
    animation: enter 0.15s forwards;
    pointer-events: auto;
  }

  & a {
    padding: 0.375rem 0.5rem;
    border-radius: var(--rounded-md);
  }

  & a:hover {
    background-color: var(--color-gray-50);

  }

  & a:active {
    background-color: var(--color-gray-100);
  }
}

.menu__separator {
  margin: 0.25rem 0 0.25rem;
  border: 1px solid var(--color-gray-100);
}

@keyframes enter {
  from {
    opacity: var(--tw-enter-opacity, 0);
    transform:
      translate(var(--tw-enter-translate-x, 0), var(--tw-enter-translate-y, 0)) scale(var(--tw-enter-scale, 0.95));
  }

  to {
    opacity: 1;
    transform:
      translate(0, 0) scale(1);
  }
}

@keyframes exit {
  from {
    opacity: 1;
    transform:
      translate(0, 0) scale(1);
  }

  to {
    opacity: var(--tw-exit-opacity, 0);
    transform:
      translate(var(--tw-exit-translate-x, 0), var(--tw-exit-translate-y, 0)) scale(var(--tw-exit-scale, 0.95));
  }
}
