.login {
  display: grid;
  place-items: center;
  background-color: var(--color-blue-50);
  padding: 1rem;

  &__title {
    text-align: center;
  }

  &__subtitle {
    font-size: var(--text-sm);
    color: var(--muted-foreground)
  }
}

.greet {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.logo {
  padding: 0.75rem;
  background-color: var(--color-blue-100);
  border-radius: var(--rounded-full);
  overflow: hidden;
}

.form {
  width: 100%;
  max-width: 500px;
  padding: 1rem;
  background-color: white;
  border-radius: var(--rounded-lg);
  box-shadow: var(--shadow-sm);
  display: grid;
  gap: 1rem;
  justify-items: center;
}

.inner-wrapper {
  display: grid;
  gap: 0.25rem;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
}

.outer-wrapper {
  display: grid;
  gap: 0.5rem;
  width: 100%;
}

label {
  font-size: var(--text-sm);
}

input {
  --outline-focus-width: 3px;
  width: 100%;
  background-color: var(--secondary);
  border-radius: var(--rounded-md);
  padding: 0.5rem 1.85rem;
  font: small-caption;
  font-size: var(--text-sm);
  transition: color, background-color, border-color, outline-color, 0.15s cubic-bezier(0.4, 0, 0.2, 1);

  &.user-invalid {
    outline: 1px solid var(--color-red-400);
  }

  &.user-invalid:focus {
    outline: var(--outline-focus-width) solid var(--color-red-200);
  }

  &.valid {
    outline: 1px solid var(--color-green-400);
  }

  &.valid:focus {
    outline: var(--outline-focus-width) solid var(--color-green-200);
  }

  &:focus {
    outline: var(--outline-focus-width) solid var(--color-gray-300);
  }

  &::placeholder {
    font-size: var(--text-sm);
  }
}

.input-wrapper {
  position: relative;
  grid-column: 1 / 3;
}

.mail-icon,
.lock-icon {
  pointer-events: none;
  color: var(--color-gray-400);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0.5rem;
}

.alert {
  color: var(--color-red-400);
  font-size: var(--text-xs);
  justify-self: start;
  grid-column: 1 / 3;

  &:first-of-type {
    grid-column: 1;
    grid-row: 3;
  }
}

.login__button {
  background-color: var(--primary);
  color: var(--primary-foreground);
  padding: 0.5rem 1rem;
  width: 100%;
  border-radius: var(--rounded-md);
  font-size: var(--text-sm);
  transition: color, background-color, border-color, outline-color, 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;

  &:hover {
    background-color: var(--color-neutral-800);
  }

  &:active {
    background-color: var(--color-neutral-700);
  }
}

.forgot {
  font-size: var(--text-xs);
  color: var(--color-blue-600);
  justify-self: end;
  grid-column: 2;

  &:hover {
    color: var(--color-blue-700);
  }

  &:active {
    color: var(--color-blue-800);

  }
}

.divider {
  font-size: var(--text-xs);
  color: var(--muted-foreground);
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;

  &__text {
    margin: 0 0.5rem;
  }

  hr {
    flex: 1;
    border: none;
    border-bottom: 1px solid var(--color-gray-300);
  }
}

.button--auth {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: var(--text-sm);
  background-color: white;
  border: 1px solid var(--color-gray-200);
  border-radius: var(--rounded-md);
  padding: 0.5rem 2rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  color: var(--secondary-foreground);
  cursor: pointer;
  transition: color, background-color, border-color, outline-color, 0.15s cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: var(--color-neutral-50);
  }

  &:active {
    background-color: var(--color-neutral-100);
  }
}

.google-icon,
.facebook-icon,
.twitter-icon,
.email-icon,
.apple-icon {

  width: 1rem;
  height: 1rem;
}

.signup {
  font-size: var(--text-sm);
  color: var(--muted-foreground);

  a {
    color: var(--color-blue-600);
  }
}
